**/__pycache__
**/.DS_Store
**/.vscode
*.egg-info
.*_cache
.coverage*
.dockerignore
.idea
.pipx
.venv
.vulture_ignore_list.py
build/
ci/
Dockerfile
pyproject.toml
README.md
requirements/requirements-dev.txt
tests/
venv/
