[run]
branch = True
dynamic_context = test_function
source =
    src
    tests
omit =
    */conf.py
    tests/*under_coverage.py
    */venv/*
    */.venv/*
    src/source_collectors/jira/json_types.py
    src/notifier_utilities/type.py
    src/update_circle_ci_config.py
    src/update_dockerfile_base_image.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if TYPE_CHECKING:
fail_under = 100
skip_covered = True

[html]
directory = build/unittest-coverage
show_contexts = True

[xml]
output = build/unittest-coverage.xml
