[run]
branch = True
dynamic_context = test_function
include =
    src/*
    tests/*
omit =
    */conf.py
    src/quality_time_*.py
    tests/*under_coverage.py
    */venv/*
    */.venv/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if TYPE_CHECKING:
fail_under = 100
skip_covered = True

[html]
directory = build/unittest-coverage
show_contexts = True

[xml]
output = build/unittest-coverage.xml
