version: '3'
services:
  frontend:
    build:
      context: components/frontend
    depends_on:
    - server
    ports:
    - "5000:5000"
  collector:
    build: components/collector
    env_file:
    - docker-config/${ENV:-production}.env
    depends_on:
    - server
  server:
    build: components/server
    ports:
    - "5001:5001"
    env_file:
    - docker-config/${ENV:-production}.env
    depends_on:
    - database
    - ldap
  testdata:
    build: components/testdata
    ports:
    - "8000:8000"
  database:
    image: mongo
    restart: always
    env_file:
      - docker-config/${ENV:-production}.env
    ports:
    - "27017:27017"
    volumes:
    - "dbdata:/data/db"
  mongo-express:
    image: mongo-express
    ports:
    - "8081:8081"
    env_file:
    - docker-config/${ENV:-production}.env
    depends_on:
    - database
  ldap:
    image: osixia/openldap:1.2.4
    command: --dont-touch-etc-hosts
    ports:
    - "389:389"
    - "636:636"
  phpldapadmin:
    image: osixia/phpldapadmin:latest
    env_file:
    - docker-config/${ENV:-production}.env
    ports:
    - "3890:80"
    depends_on:
    - ldap
volumes:
  dbdata:
