bandit==1.7.0
black==21.9b0
coverage==6.0.2
dlint==0.11.0
isort==5.9.3
lxml==4.6.3  # Needed to be able to run mypy with `--html-report`.
mypy==0.910
pep8-naming==0.12.1
pip==21.3.1
pydantic==1.8.2  # Needed for importing the data model from the server component
pylint==2.11.1
safety==1.10.3
unittest-xml-reporting==3.0.4  # Needed to generate JUnit XML output for Sonarcloud.io
vulture==2.3
