bandit==1.7.2
black==22.1.0
coverage==6.3
dlint==0.12.0
lxml==4.7.1  # Needed to be able to run mypy with `--html-report`.
mypy==0.931
pep8-naming==0.12.1
pip==21.3.1
pip-audit==1.1.2
pip-tools==6.4.0  # To add hashes to requirements
pydantic==1.9.0  # Needed for importing the data model from the server component
pylint==2.12.2
safety==1.10.3
unittest-xml-reporting==3.2.0  # Needed to generate JUnit XML output for Sonarcloud.io
vulture==2.3
