bandit==1.7.4
black==22.3.0
coverage==6.3.2
dlint==0.12.0
lxml==4.8.0  # Needed to be able to run mypy with `--html-report`.
mypy==0.942
pep8-naming==0.12.1
pip==22.0.4
pip-audit==2.1.1
pip-tools==6.5.1  # To add hashes to requirements
pydantic==1.9.0  # Needed for importing the data model from the server component
pylint==2.13.5
safety==1.10.3
unittest-xml-reporting==3.2.0  # Needed to generate JUnit XML output for Sonarcloud.io
vulture==2.3
