.MainContainer {
    flex: 1;
    margin-top: 6em;
    padding-left: 1em;
    padding-right: 1em;
}

@media print {
    .MainContainer {
        margin-top: 0em;
    }
}

html {
    scroll-padding-top: 163px;  /* height of sticky header */
}
