---
{{- if not .Values.www.directlyToService }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ template "www_name" . }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: {{ template "www_name" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: {{ template "www_name" . }}
  strategy: {}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: {{ template "www_name" . }}
    spec:
      containers:
        - name: {{ template "www_name" . }}
          image: "{{ .Values.www.image.repository }}:{{ .Values.www.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-{{ template "www_name" . }}-env
                optional: true
          env:
            - name: API_SERVER_HOST
              value: {{ .Release.Name }}-{{ template "api_server_name" . }}
            - name: FRONTEND_HOST
              value: {{ .Release.Name }}-{{ template "frontend_name" . }}
            - name: PROXY_PORT
              value: "8080"
          ports:
            - containerPort: 8080
{{- with .Values.www.resources }}
          resources: {{- toYaml . | nindent 12 }}
{{- end }}
          securityContext:
            capabilities:
              add:
                - CHOWN
                - SETGID
                - SETUID
                - NET_BIND_SERVICE
              drop:
                - ALL
      restartPolicy: Always
{{- end }}
---
{{- if not .Values.www.directlyToService }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ template "www_name" . }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: {{ template "www_name" . }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: {{ template "www_name" . }}
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  sessionAffinity: None
{{- end }}
---
{{ if .Values.www.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-{{ template "www_name" . }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: {{ template "www_name" . }}
  {{- with .Values.www.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.www.ingress.ingressClassName }}
  ingressClassName: {{ .Values.www.ingress.ingressClassName | quote }}
  {{- end }}
  rules:
    {{- if .Values.www.ingress.hostname }}
    - host: {{ .Values.www.ingress.hostname | quote }}
      http:
        {{- if .Values.www.directlyToService }}
        paths:
          - path: /
            pathType: {{ .Values.www.ingress.pathType }}
            backend:
              service:
                name: {{ .Release.Name }}-{{ template "frontend_name" . }}
                port:
                  number: 5000
        paths:
          - path: /api
            pathType: {{ .Values.www.ingress.pathType }}
            backend:
              service:
                name: {{ .Release.Name }}-{{ template "api_server_name" . }}
                port:
                  number: 5001
        {{- else }}
        paths:
          - path: /
            pathType: {{ .Values.www.ingress.pathType }}
            backend:
              service:
                name: {{ .Release.Name }}-{{ template "www_name" . }}
                port:
                  number: 8080
        {{- end }}
    {{- end }}
  {{- if .Values.www.ingress.tls }}
  tls:
    {{- range .Values.www.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-{{ template "www_name" . }}-env
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: {{ template "www_name" . }}
data:
{{- range $key, $val := .Values.www.env }}
  {{ $key }}: "{{ $val }}"
{{- end }}
