.ui.sortable.table.stickyHeader>thead {
    /* Make thead sticky by positioning the th's */
    position: sticky;
    /* Leave room for the menu bar and the subject title */
    top: 129px;
    z-index: 1;
}

.ui.sortable.table.stickyHeader.subjectHasSubTitle>thead {
    /* Make thead sticky by positioning the th's */
    position: sticky;
    /* Leave room for the menu bar, the subject title, and the subtitle */
    top: 142px;
    z-index: 1;
}

.ui.sortable.table.stickyHeader>thead>tr>th {
    /* Apply the top table border to the th as the table border scrolls out of view */
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.ui.sortable.table.stickyHeader {
    /* The top table border is applied to the th's because the top table border scrolls out of view */
    border-top: 0px;
}

/* Remove opacity from the th background, otherwise the rows underneath are visible. */

.ui.sortable.table:not(.basic)>thead>tr>th.sorted {
    background: rgba(242, 242, 242, 1);
}

.ui.sortable.table:not(.basic)>thead>tr>th:not(.unsortable):hover {
    background: rgba(242, 242, 242, 1);
}

.ui.sortable.table:not(.basic)>thead>tr>th.unsortable:hover {
    /* Don't highlight unsortable columns */
    background: rgba(249, 250, 251, 1);
}
