version: 2

jobs:
  unittest_collector:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          command: |
            cd components/collector
            python -m venv venv
            . venv/bin/activate
            pip install --progress-bar off -r requirements.txt -r requirements-dev.txt
            ci/unittest.sh
            ci/quality.sh

  unittest_server:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          command: |
            sudo apt-get install libsasl2-dev libldap2-dev libssl-dev
            cd components/server
            python -m venv venv
            . venv/bin/activate
            pip install --progress-bar off -r requirements.txt -r requirements-dev.txt
            ci/unittest.sh
            ci/quality.sh

  unittest_frontend:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - run:
          command: |
            cd components/frontend
            npm install
            npm test

  application_tests:
    machine: true
    parallelism: 1
    steps:
      - checkout
      - run: |
          export ENV=ci
          export COMPOSE_FILE=docker/docker-compose.yml:docker/docker-compose.ci.yml
          docker-compose build && docker-compose up -d
          docker run -it -w `pwd` -v `pwd`:`pwd` --network=container:qualitytime_www_1 circleci/python:3.8-browsers ci/test.sh
      - run:
          name: Scan images
          command: |
            curl -s https://ci-tools.anchore.io/inline_scan-v0.5.0 | bash -s -- -d components/server/Dockerfile -r "ictu/quality-time_frontend:v1.0.0"
      - store_artifacts:
          path: anchore-reports

workflows:
  version: 2
  build_test:
    jobs:
      - application_tests:
          context: QualityTime
      - unittest_collector:
          context: QualityTime
      - unittest_server:
          context: QualityTime
      - unittest_frontend:
          context: QualityTime
