version: 2.1

orbs:
  docker: circleci/docker@3.0.1

jobs:
  unittests:
    docker:
      - image: cimg/python:3.14.3-node
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    parallelism: 11
    steps:
      - checkout
      - run: |
          pip install --upgrade pip
          pip install --group tools/pyproject.toml:uv
          case $CIRCLE_NODE_INDEX in
            0) component=components/collector;;
            1) component=components/notifier;;
            2) component=components/api_server;;
            3) component=components/shared_code;;
            4) component=components/frontend;;
            5) component=tests/application_tests;;
            6) component=tests/feature_tests;;
            7) component=docs;;
            8) component=release;;
            9) component=tools;;
            10) component=update_dependencies;;
          esac
          cd $component
          mkdir -p build
          uv tool run --from=rust-just --project $CIRCLE_WORKING_DIRECTORY/tools/pyproject.toml just test check
      - store_artifacts:
          path: components/collector/build
      - store_artifacts:
          path: components/notifier/build
      - store_artifacts:
          path: components/api_server/build
      - store_artifacts:
          path: components/shared_code/build
      - store_artifacts:
          path: components/frontend/build
      - store_artifacts:
          path: components/application_tests/build
      - store_artifacts:
          path: components/feature_tests/build
      - store_artifacts:
          path: docs/build
      - store_artifacts:
          path: release/build
      - store_artifacts:
          path: tools/build
      - store_artifacts:
          path: update_dependencies/build

  application_tests:
    machine:
      image: default
    parallelism: 1
    steps:
      - checkout
      - run: |
          mkdir -p build
          export ENV=ci
          export PROXY_PORT=8080
          export QUALITY_TIME_VERSION=v5.48.4
          export COMPOSE_PATH_SEPARATOR=':'
          export COMPOSE_FILE=docker/docker-compose.yml:docker/docker-compose.ci.yml
          docker compose build && docker compose up -d
          docker ps
          docker run -it -w `pwd` -v `pwd`:`pwd` --network=container:quality-time-www-1 ghcr.io/astral-sh/uv:python3.14-bookworm tests/application_tests/test.sh
          docker ps
          docker compose logs > build/containers.log
      - run:
          name: Save container logs on failure
          when: on_fail
          command: docker compose logs > build/containers.log
      - store_artifacts:
          path: build
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

  feature_tests:
    machine:
      image: default
    parallelism: 1
    steps:
      - checkout
      - run: |
          pip install --upgrade pip
          pip install --group tools/pyproject.toml:uv
          ./tests/feature_tests/test.sh
      - store_artifacts:
          path: build
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

workflows:
  version: 2
  build_test:
    jobs:
      - application_tests:
          context: QualityTime
      - feature_tests:
          context: QualityTime
      - unittests:
          context: QualityTime
