version: 2

jobs:
  unittest_backend:
    docker:
      - image: circleci/python:3.9.0-buster
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    parallelism: 3
    steps:
      - checkout
      - run: |
          case $CIRCLE_NODE_INDEX in
          	0) component=collector;;
          	1) component=notifier;;
          	2) component=server
                   sudo apt-get install libsasl2-dev libldap2-dev libssl-dev;;
          esac
          cd components/$component
          python -m venv venv
          . venv/bin/activate
          pip install wheel
          pip install --progress-bar off -r requirements.txt -r requirements-dev.txt
          ci/unittest.sh
          ci/quality.sh

  unittest_frontend:
    docker:
      - image: circleci/node:lts
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          command: |
            cd components/frontend
            npm install
            npm test

  application_tests:
    machine: true
    parallelism: 1
    steps:
      - checkout
      - run: |
          export ENV=ci
          export COMPOSE_PATH_SEPARATOR=':'
          export COMPOSE_FILE=docker/docker-compose.yml:docker/docker-compose.ci.yml
          docker-compose build && docker-compose up -d
          docker run -it -w `pwd` -v `pwd`:`pwd` --network=container:qualitytime_www_1 circleci/python:3.9.0-browsers ci/test.sh

  integration_tests:
    machine: true
    image: ubuntu-2004:202010-01
    parallelism: 1
    steps:
      - checkout
      - run:
          working_directory: components/server
          command: |
            wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo apt update
            sudo apt install software-properties-common
            sudo add-apt-repository ppa:deadsnakes/ppa
            sudo apt update
            sudo apt install python3.9 python3.9-venv
            mkdir -p /tmp/log
            python3.9 -m venv venv
            . venv/bin/activate
            pip install --progress-bar off -r requirements.txt -r requirements-dev.txt &>> /tmp/log/pip.log
      - run: |
          export ENV=ci
          export COMPOSE_PATH_SEPARATOR=':'
          export COMPOSE_FILE=docker/docker-compose.yml:docker/docker-compose.ci.yml
          docker-compose build database ldap renderer frontend
          docker-compose up -d database ldap renderer frontend
      - run:
          background: true
          working_directory: components/server
          command: |
            . venv/bin/activate
            export COVERAGE_PROCESS_START=../../.coveragerc-behave
            export RENDERER_HOST=localhost
            export PROXY_HOST=localhost
            export PROXY_PORT=5000
            python tests/quality_time_server_under_coverage.py &>> /tmp/log/server.log
      - run:
          command: |
            python3.9 -m venv venv
            . venv/bin/activate
            pip --quiet install --progress-bar off -r requirements-dev.txt
            export COVERAGE_RCFILE=.coveragerc-behave
            coverage run -m behave --format null tests/features
            kill -s TERM "$(pgrep -n -f tests/quality_time_server_under_coverage.py)"
            sleep 2  # Give the server time to write the coverage data
            coverage combine . components/server
            coverage html
            coverage report
      - store_artifacts:
          path: /tmp/log
      - store_artifacts:
          path: build/features-coverage

  integration_tests_old:
    docker:
      - image: circleci/python:3.9.0-buster
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: osixia/openldap:1.4.0
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
        volumes:
          - components/ldap/bootstrap:/container/service/slapd/assets/config/bootstrap
      - image: ictu/url-to-pdf-api:v1.0.0
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
        environment:
          ALLOW_HTTP: true
          LC_ALL: en_GB.UTF-8
      - image: ictu/quality-time_frontend:v3.15.0-rc.4
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: mongo:4.2.3
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
        environment:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: root
    steps:
      - checkout
      - run:
          working_directory: components/server
          command: |
            mkdir -p /tmp/log
            python3 -m venv venv
            . venv/bin/activate
            pip install --progress-bar off -r requirements.txt -r requirements-dev.txt &>> /tmp/log/pip.log
      - run:
          background: true
          working_directory: components/server
          command: |
            . venv/bin/activate
            export COVERAGE_PROCESS_START=../../.coveragerc-behave
            export RENDERER_HOST=localhost
            export PROXY_HOST=localhost
            export PROXY_PORT=5000
            python tests/quality_time_server_under_coverage.py &>> /tmp/log/server.log
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip --quiet install --progress-bar off -r requirements-dev.txt
            export COVERAGE_RCFILE=.coveragerc-behave
            coverage run -m behave --format null tests/features
            kill -s TERM "$(pgrep -n -f tests/quality_time_server_under_coverage.py)"
            sleep 2  # Give the server time to write the coverage data
            coverage combine . components/server
            coverage html
            coverage report
      - store_artifacts:
          path: /tmp/log
      - store_artifacts:
          path: build/features-coverage

workflows:
  version: 2
  build_test:
    jobs:
      - application_tests:
          context: QualityTime
      - integration_tests:
          context: QualityTime
      - unittest_backend:
          context: QualityTime
      - unittest_frontend:
          context: QualityTime
