.MuiDivider-root {
    padding: 20px;
}

.MuiDivider-root:before {
    border-top: thin solid rgba(255, 255, 255, 0.3) !important;
}

.MuiDivider-root:after {
    border-top: thin solid rgba(255, 255, 255, 0.3) !important;
}
