.ui.horizontal.segments.equal.width > .ui.segment {
    flex-grow:1;
    width:0;
}

.ui.inverted.menu .item.disabled, .ui.inverted.menu .item.disabled:hover {
    color: rgba(225, 225, 225, .3) !important;
}
