# Base docker composition. For development, this composition is augmented in docker-compose.override.yml.

version: '3'
services:
  www:
    image: ictu/quality-time_proxy:${QUALITY_TIME_VERSION}
    ports:
      - "${PROXY_PORT:-80}:80"
    environment:
      - FRONTEND_HOST=${FRONTEND_HOST:-frontend}
      - FRONTEND_PORT=${FRONTEND_PORT:-5000}
      - SERVER_HOST=${SERVER_HOST:-server}
      - SERVER_PORT=${SERVER_PORT:-5001}
    depends_on:
      - server
      - frontend
  frontend:
    image: ictu/quality-time_frontend:${QUALITY_TIME_VERSION}
    environment:
      - FRONTEND_PORT=${FRONTEND_PORT:-5000}
    depends_on:
      - server
    cap_drop:
      - ALL
  collector:
    image: ictu/quality-time_collector:${QUALITY_TIME_VERSION}
    environment:
      - SERVER_HOST=${SERVER_HOST:-server}
      - SERVER_PORT=${SERVER_PORT:-5001}
    depends_on:
      - server
    cap_drop:
      - ALL
  notifier:
    image: ictu/quality-time_notifier:${QUALITY_TIME_VERSION}
    environment:
      - SERVER_HOST=${SERVER_HOST:-server}
      - SERVER_PORT=${SERVER_PORT:-5001}
      - NOTIFIER_SLEEP_DURATION=60
    depends_on:
      - server
    cap_drop:
      - ALL
  server:
    image: ictu/quality-time_server:${QUALITY_TIME_VERSION}
    environment:
      - SERVER_PORT=${SERVER_PORT:-5001}
      - PROXY_HOST=${PROXY_HOST:-www}
      - PROXY_PORT=${PROXY_PORT:-80}
      - DATABASE_URL=mongodb://root:root@database:27017
      - LDAP_URL=ldap://ldap:389
      - LDAP_ROOT_DN=dc=example,dc=org
      - LDAP_LOOKUP_USER_DN=cn=admin,dc=example,dc=org
      - LDAP_LOOKUP_USER_PASSWORD=admin
      - LDAP_SEARCH_FILTER=(|(uid=$$username)(cn=$$username))
      - LOAD_EXAMPLE_REPORTS=True
      - FORWARD_AUTH_ENABLED=False
      - FORWARD_AUTH_HEADER=X-Forwarded-User
    depends_on:
      - database
    cap_drop:
      - ALL
  database:
    image: ictu/quality-time_database:${QUALITY_TIME_VERSION}
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    volumes:
      - "dbdata:/data/db"
  renderer:
    image: ictu/quality-time_renderer:${QUALITY_TIME_VERSION}
    environment:
      - ALLOW_HTTP=true
      - LC_ALL=en_GB.UTF-8  # Set the date format in the PDF export to DD-MM-YYYY
      - TZ=Europe/Amsterdam  # Make the PDF export use the correct timezone
volumes:
  dbdata:
