# Extra services and overridden parameters for testing in a CI-environment.
# The renderer, Mongo-express and PHPLDAPAdmin are not started.

version: "3"
services:
  www:
    build: ../components/proxy
  frontend:
    build: ../components/frontend
  collector:
    build: ../components/collector
  notifier:
    build: ../components/notifier
  server:
    build: 
      context: ../components
      dockerfile: server/Dockerfile
    environment:
      - LOAD_EXAMPLE_REPORTS=False
    depends_on:
      - ldap
  database:
    build: ../components/database
    ports:
      - "27017:27017"
  ldap:
    build: ../components/ldap
    ports:
      - "389:389"
      - "636:636"
  renderer:
    build: ../components/renderer
    ports:
      - "9000:9000"
  selenium:
    image: selenium/standalone-firefox
    shm_size: 2gb
    ports:
      - "4444:4444"
