# Base docker composition. For development, this composition is augmented in docker-compose.override.yml.

version: '3'
services:
  frontend:
    image: ictu/quality-time_frontend:v0.9.0
    depends_on:
    - server
    ports:
    - "5000:5000"
  collector:
    image: ictu/quality-time_collector:v0.9.0
    env_file:
    - ${ENV:-dev}.env
    depends_on:
    - server
  server:
    image: ictu/quality-time_server:v0.9.0
    ports:
    - "5001:5001"
    env_file:
    - ${ENV:-dev}.env
    depends_on:
    - database
  database:
    image: mongo
    restart: always
    env_file:
    - ${ENV:-dev}.env
    ports:
    - "27017:27017"
    volumes:
    - "dbdata:/data/db"
volumes:
  dbdata:
