# Extra services and overridden parameters for testing in a CI-environment.
# Mongo-express is not started.

services:
  www:
    build: ../components/proxy
  frontend:
    build: ../components/frontend
  collector:
    build:
      context: ..
      dockerfile: components/collector/Dockerfile
  notifier:
    build:
      context: ..
      dockerfile: components/notifier/Dockerfile
  api_server:
    build:
      context: ..
      dockerfile: components/api_server/Dockerfile
    environment:
      - LOAD_EXAMPLE_REPORTS=False
    depends_on:
      - ldap
  database:
    build: ../components/database
    ports:
      - "27017:27017"
  ldap:
    build: ../components/testldap
    ports:
      - "389:389"
  renderer:
    build: ../components/renderer
    ports:
      - "9000:9000"
  selenium:
    image: selenium/standalone-firefox
    shm_size: 2gb
    ports:
      - "4444:4444"
