# Base docker composition. For development, this composition is augmented in docker-compose.override.yml.

version: '3'
services:
  www:
    image: greyarch/caddy
    ports:
      - "80:80"
    environment:
      CONFIG: |
        :80 {
          tls off
          errors stdout
          gzip
          header / {
            -Server
            Strict-Transport-Security "max-age=31536000;"
            X-XSS-Protection "1; mode=block"
            X-Content-Type-Options "nosniff"
            X-Frame-Options "DENY"
            Pragma "no-cache"
            Cache-Control "no-store"
          }
          proxy /api http://server:${SERVER_PORT:-5001}
          proxy / http://frontend:${FRONTEND_PORT:-5000}
        }
  frontend:
    image: ictu/quality-time_frontend:v0.14.1
    env_file:
      - ${ENV:-dev}.env
    depends_on:
    - server
  collector:
    image: ictu/quality-time_collector:v0.14.1
    env_file:
    - ${ENV:-dev}.env
    depends_on:
    - server
  server:
    image: ictu/quality-time_server:v0.14.1
    env_file:
      - ${ENV:-dev}.env
    depends_on:
    - database
  database:
    image: mongo
    restart: always
    env_file:
    - ${ENV:-dev}.env
    volumes:
    - "dbdata:/data/db"
volumes:
  dbdata:
