# Extra services and overridden parameters for testing in a CI-environment.
# Mongo-express and PHPLDAPAdmin are not started.

version: "3"
services:
  frontend:
    build: ../components/frontend
  collector:
    build: ../components/collector
    env_file:
      - ${ENV:-ci}.env
    depends_on:
      - testdata
  server:
    build: ../components/server
    env_file:
      - ${ENV:-ci}.env
    depends_on:
      - ldap
  ldap:
    image: osixia/openldap:1.2.4
    command: --dont-touch-etc-hosts
    ports:
      - "389:389"
      - "636:636"
