# Extra services and overridden parameters for testing in a CI-environment.
# Mongo-express and PHPLDAPAdmin are not started.

version: "3"
services:
  www:
    build: ../components/proxy
  frontend:
    build: ../components/frontend
  collector:
    build:
      context: ../components
      dockerfile: collector/Dockerfile
  notifier:
    build:
      context: ../components
      dockerfile: notifier/Dockerfile
  external_server:
    build:
      context: ../components
      dockerfile: external_server/Dockerfile
    environment:
      - LOAD_EXAMPLE_REPORTS=False
    depends_on:
      - ldap
  database:
    build: ../components/database
    ports:
      - "27017:27017"
  ldap:
    image: bitnami/openldap:2.6.4
    environment:
      - LDAP_ADMIN_PASSWORD=admin
      - LDAP_PORT_NUMBER=389
      - LDAP_SKIP_DEFAULT_TREE=yes
    volumes:
      - './ldap_ldifs:/ldifs'
    ports:
      - "389:389"
  renderer:
    build: ../components/renderer
    ports:
      - "9000:9000"
  selenium:
    image: selenium/standalone-firefox
    shm_size: 2gb
    ports:
      - "4444:4444"
