# Base docker composition. For development, this composition is augmented in docker-compose.override.yml.

version: '3'
services:
  www:
    image: ictu/caddy:1.0.3-no-stats
    env_file:
      - ${ENV:-dev}.env
    ports:
    - "${PROXY_PORT:-80}:${PROXY_PORT:-80}"
    environment:
      CONFIG: |
        :${PROXY_PORT:-80} {
          tls off
          errors stdout
          gzip {
            not /api/v2/nr_measurements
          }
          header / {
            -Server
            Strict-Transport-Security "max-age=31536000;"
            X-XSS-Protection "1; mode=block"
            X-Content-Type-Options "nosniff"
            X-Frame-Options "DENY"
            Pragma "no-cache"
            Cache-Control "no-store"
          }
          proxy /api/v2/nr_measurements http://server:${SERVER_PORT:-5001} {
            timeout 0
          }
          proxy /api http://server:${SERVER_PORT:-5001}
          proxy / http://frontend:${FRONTEND_PORT:-5000}
        }
  frontend:
    image: ictu/quality-time_frontend:v1.6.1-rc.1
    env_file:
      - ${ENV:-dev}.env
    depends_on:
      - server
    cap_drop:
      - ALL
  collector:
    image: ictu/quality-time_collector:v1.6.1-rc.1
    env_file:
      - ${ENV:-dev}.env
    depends_on:
      - server
    cap_drop:
      - ALL
  server:
    image: ictu/quality-time_server:v1.6.1-rc.1
    env_file:
      - ${ENV:-dev}.env
    depends_on:
      - database
    cap_drop:
      - ALL
  database:
    image: mongo
    restart: always
    env_file:
      - ${ENV:-dev}.env
    volumes:
      - "dbdata:/data/db"
  renderer:
    image: msokk/electron-render-service:1.0.0
    env_file:
      - ${ENV:-dev}.env
volumes:
  dbdata:
