[project]
name = "shared_code"
version = "5.0.1"
dependencies = [
    "bottle==0.12.25",
    "cryptography==41.0.2",
    "packaging==23.1",
    "pydantic==1.10.9",
    "pymongo==4.4.1",
    "python-dateutil==2.8.2",
]

[project.optional-dependencies]
dev = [
    "coverage==7.2.7",
    "mongomock==4.1.2",
    "pip==23.2",
    "pipx==1.2.0",
    "pip-tools==6.14.0",  # To add hashes to requirements
    "types-python-dateutil==2.8.19.13",
    "unittest-xml-reporting==3.2.0",  # Needed to generate JUnit XML output for Sonarcloud.io
]
tools = [
    "bandit==1.7.5",
    "black==23.7.0",
    "mypy==1.4.1",
    "pip-audit==2.6.0",
    "pydantic==1.10.9",
    "ruff==0.0.278",
    "safety==2.3.5",
    "vulture==2.7"
]

[tool.black]
line-length = 120

[tool.mypy]
plugins = "pydantic.mypy"
ignore_missing_imports = false
incremental = false
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = [
    "pymongo",
    "bottle"
]
ignore_missing_imports = true

[tool.ruff]
target-version = "py311"
line-length = 120
src = ["src"]
select = ["ALL"]
ignore = [
    "ANN001",  # https://beta.ruff.rs/docs/rules/missing-type-function-argument/ - too many untyped arguments atm to turn this rule on
    "ANN002",  # https://beta.ruff.rs/docs/rules/missing-type-args/ - leads to false positives for super().__init__(*args, **kwargs)
    "ANN003",  # https://beta.ruff.rs/docs/rules/missing-type-kwargs/ - leads to false positives for super().__init__(*args, **kwargs)
    "ANN101",  # https://beta.ruff.rs/docs/rules/missing-type-self/ - type checkers can infer the type of `self`, so annotating it is superfluous
    "ANN102",  # https://beta.ruff.rs/docs/rules/missing-type-cls/ - type checkers can infer the type of `cls`, so annotating it is superfluous
    "D107",    # https://beta.ruff.rs/docs/rules/#pydocstyle-d - requiring __init__() methods to have docstrings seems a bit much
    "D203",    # https://beta.ruff.rs/docs/rules/#pydocstyle-d - prevent warning: `one-blank-line-before-class` (D203) and `no-blank-line-before-class` (D211) are incompatible. Ignoring `one-blank-line-before-class`
    "D213",    # https://beta.ruff.rs/docs/rules/#pydocstyle-d - prevent warning: `multi-line-summary-first-line` (D212) and `multi-line-summary-second-line` (D213) are incompatible. Ignoring `multi-line-summary-second-line`
    "FBT",     # https://beta.ruff.rs/docs/rules/#flake8-boolean-trap-fbt - not sure of the value of preventing "boolean traps"
    "PT",      # https://beta.ruff.rs/docs/rules/#flake8-pytest-style-pt - pytest isn't used
]

[tool.ruff.isort]
section-order = ["future", "standard-library", "third-party", "first-party", "tests", "local-folder"]

[tool.ruff.isort.sections]
"tests" = ["tests"]

[tool.ruff.pep8-naming]
# Allow Pydantic's `@validator` decorator to trigger class method treatment.
classmethod-decorators = ["classmethod", "pydantic.validator"]

[tool.ruff.per-file-ignores]
".vulture_ignore_list.py" = ["ALL"]
"__init__.py" = [
    "D104",  # https://beta.ruff.rs/docs/rules/#pydocstyle-d - don't require doc strings in __init__.py files
    "F401",  # https://beta.ruff.rs/docs/rules/#pyflakes-f - imports in __init__.py files are used to flatten the module hierarchy
]
"src/shared_data_model/**/*.py" = [
    "RUF012",  # https://beta.ruff.rs/docs/rules/mutable-class-default/ - Pydantic models' class attributes are used to specify instance attributes
]
"tests/**/*.py" = [
    "ANN201",  # https://beta.ruff.rs/docs/rules/missing-return-type-undocumented-public-function/ - don't require test functions to have return types
]

[tool.setuptools.packages.find]
where = ["src"]
