**/*.egg-info
**/.DS_Store
**/.coverage*
**/.dockerignore
**/.idea
**/.mypy_cache
**/.pylintrc
**/.venv/
**/.vscode
**/.vulture_ignore_list.py
**/Dockerfile*
**/README*.md
**/__pycache__
**/build/
**/ci/
**/node_modules/
**/requirements-dev.*
**/requirements.in
**/tests/
**/venv/
collector/
database/
frontend/
ldap/
notifier/
proxy/
renderer/
testdata/
