**/*.egg-info
**/.*_cache
**/.coverage*
**/.dockerignore
**/.DS_Store
**/.idea
**/.pipx
**/.venv
**/.vscode
**/.vulture_ignore_list.py
**/Dockerfile*
**/README*.md
**/__pycache__
**/build/
**/ci/
**/node_modules/
**/requirements-dev.txt
**/tests/
**/venv/
database/
frontend/
ldap/
proxy/
renderer/
testdata/
