-r ../../requirements/dev.in
furo==2022.12.7
gitpython==3.1.31
myst-parser==0.18.1
Sphinx==5.3.0  # Can't upgrade to Sphinx 6 because sphinx-copybutton 0.5.1 requires Sphinx < 6.
sphinx-copybutton==0.5.1
sphinx_design==0.3.0
