.ui.card.export-data-card {
    display: none;
}

@media print {
    .reportHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: -13px;
    }

    .ui.card.export-data-card {
        display: block;
        min-width: 270px;
        flex-shrink: 0;
    }

    .ui.card.export-data-card.list .item {
        display: flex;
        overflow: hidden;
        white-space: normal;
        padding: 2px;
        line-height: 1.4em;
    }

    .ui.card.export-data-card .header {
        overflow: hidden;
        white-space: nowrap;
    }

    .ui.card.export-data-card .list {
        margin-top: 0.5em;
    }
}