.ui.inverted.card {
    background: rgba(50, 50, 50, 0.8);
}

.ui.inverted.card:hover {
    background: rgba(30, 30, 30, 0.8);
}

.ui.inverted.card > .content > .header {
    color: rgba(255, 255, 255, 0.87);
}
