.ui.inverted.label {
    color: rgba(255, 255, 255, 0.87) !important;
}

.ui.inverted.grey.label {
    background-color: rgba(118, 118, 118, 0.87) !important;
}

.ui.inverted.yellow.label {
    background-color: rgba(253, 197, 54, 0.87) !important;
}

.ui.label > a {
    opacity: 1;
}
