.ui.modal.inverted>.header {
    border: 1px solid rgba(255, 255, 255, 0.87) ;
}

.ui.inverted.modal>.content, .ui.inverted.modal>.header {
    background-color: rgba(40, 40, 40, 0.8);
    color: rgba(255, 255, 255, 0.87);
}

.ui.modal.inverted>.content {
    border-left: 1px solid rgba(255, 255, 255, 0.87) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87) ;
    border-right: 1px solid rgba(255, 255, 255, 0.87) ;
}
