@media print {
    div.MuiTableContainer-root {
        max-height: none !important;
    }
}

table.MuiTable-stickyHeader.sourceTable > thead {
    /* Make thead sticky by positioning the th's */
    position: sticky;
    z-index: 2;
}
