**/__pycache__
**/.DS_Store
**/.vscode
*.egg-info
.coverage*
.dockerignore
.idea
.*_cache
.pipx
.pylintrc
.venv
.vulture_ignore_list.py
build/
ci/
Dockerfile
README.md
requirements/requirements-dev.txt
tests/
venv
