[project]
name = "notifier"
version = "5.0.0"
dependencies = [
    "aiohttp==3.8.4",
    "pymsteams==0.2.2"
]

[project.optional-dependencies]
dev = [
    "coverage==7.2.7",
    "mongomock==4.1.2",
    "pip==23.1.2",
    "pipx==1.2.0",
    "pip-tools==6.13.0",  # To add hashes to requirements
    "pydantic==1.10.9",  # Needed for importing the data model in the tests from the shared data model component
    "unittest-xml-reporting==3.2.0",  # Needed to generate JUnit XML output for Sonarcloud.io
]
tools = [
    "bandit==1.7.5",
    "black==23.3.0",
    "mypy==1.4.1",
    "pip-audit==2.5.6",
    "ruff==0.0.275",
    "safety==2.3.5",
    "vulture==2.7"
]

[tool.black]
line-length = 120

[tool.mypy]
ignore_missing_imports = false
incremental = false
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = [
    "pymsteams"
]
ignore_missing_imports = true

[tool.ruff]
target-version = "py311"
line-length = 120
src = ["src"]
select = ["ALL"]
ignore = [
    "ANN101",  # https://beta.ruff.rs/docs/rules/missing-type-self/ - type checkers can infer the type of `self`, so annotating it is superfluous
    "D203",    # https://beta.ruff.rs/docs/rules/#pydocstyle-d - prevent warning: `one-blank-line-before-class` (D203) and `no-blank-line-before-class` (D211) are incompatible. Ignoring `one-blank-line-before-class`
    "D213",    # https://beta.ruff.rs/docs/rules/#pydocstyle-d - prevent warning: `multi-line-summary-first-line` (D212) and `multi-line-summary-second-line` (D213) are incompatible. Ignoring `multi-line-summary-second-line`
    "FBT",     # https://beta.ruff.rs/docs/rules/#flake8-boolean-trap-fbt - not sure of the value of preventing "boolean traps"
    "PT",      # https://beta.ruff.rs/docs/rules/#flake8-pytest-style-pt - pytest isn't used
]

[tool.ruff.isort]
section-order = ["future", "standard-library", "third-party", "second-party", "first-party", "tests", "local-folder"]

[tool.ruff.isort.sections]
"second-party" = ["shared", "shared_data_model"]
"tests" = ["tests"]

[tool.ruff.per-file-ignores]
".vulture_ignore_list.py" = ["ALL"]
"__init__.py" = [
    "D104",  # https://beta.ruff.rs/docs/rules/#pydocstyle-d - don't require doc strings in __init__.py files
]
"src/quality_time_notifier.py" = [
    "INP001",  # https://beta.ruff.rs/docs/rules/implicit-namespace-package/ - false positive because this is the main script
]
"tests/**/*.py" = [
    "ANN201",  # https://beta.ruff.rs/docs/rules/missing-return-type-undocumented-public-function/ - don't require test functions to have return types
]
