-r ../../../requirements/bottle.in
-r ../../../requirements/lxml.in
-r ../../../requirements/gevent.in
-r ../../../requirements/pymongo.in
-r ../../../requirements/requests.in
ldap3==2.9.1
cryptography==39.0.2
