# Disallow the ability for npm to install dependencies from locations we don't use
allow-directory = "none"
allow-file = "none"
allow-git = "none"
allow-remote = "none"
fund = false
ignore-scripts = true
min-release-age = 7
