# Disallow the ability for npm to install dependencies from locations we don't use
allow-directory = "none"
allow-file = "none"
allow-git = "none"
allow-remote = "none"
fund = false
ignore-scripts = true
min-release-age = 7
# Temporarily allow jsdom 30.1.1, which fixes a focus event regression in jsdom 30.1.0 that breaks MUI's FocusTrap.
# Remove after 2026-09-29, when jsdom 30.1.1 is older than min-release-age.
min-release-age-exclude[] = jsdom
