server {
    listen          ${FRONTEND_PORT};
    gzip            on;
    server_tokens   off;
    access_log      off;
    root            /usr/share/nginx/html;
    index           index.html;

    location / {
        try_files       $uri /index.html =404;
        include         /etc/nginx/snippets/security_headers.conf;
        add_header      Cache-Control "no-store";
    }
}
