:80 {
    tls off
    log stdout
    errors stdout
    gzip {
        not /api/v3/nr_measurements
    }
    header / {
        -Server
        Strict-Transport-Security "max-age=31536000;"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Pragma "no-cache"
        Cache-Control "no-store"
    }
    header /api/v3/datamodel {
        -Server
        Strict-Transport-Security "max-age=31536000;"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Cache-Control "no-cache"
    }
    header /api/v3/logo {
        -Server
        Strict-Transport-Security "max-age=31536000;"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Cache-Control "no-cache"
    }
    proxy /api/v3/nr_measurements {$SERVER_URL} {
        timeout 0
    }
    proxy /api {$SERVER_URL}
    proxy / {$FRONTEND_URL}
}
