[run]
omit =
    */venv/*
    */.venv/*
branch = True
parallel = True
concurrency =
    gevent

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    pragma: no cover-behave
    raise NotImplementedError
    raise ValueError
    if TYPE_CHECKING:
omit =
    components/server/tests/quality_time_server_under_coverage.py
fail_under = 100
skip_covered = True

[html]
directory = build/features-coverage

[xml]
output = build/features-coverage.xml
