---
secrets:
  dbCredential: "quality-time-db-secret"
  ldapCredential: "quality-time-ldap-secret"

api_server:
  extraVolumes: []
  extraVolumeMounts: []
  image:
    repository: "ictu/quality-time_api_server"
  env:
    LDAP_URL: "ldap://host.docker.internal:389"
    LDAP_ROOT_DN: "dc=example,dc=org"
    LDAP_SEARCH_FILTER: "(|(uid=$$username)(cn=$$username))"

collector:
  image:
    repository: "ictu/quality-time_collector"

database:
  securityContext:
    capabilities:
      add:
        - CHOWN
        - DAC_OVERRIDE
        - SETGID
        - SETUID
      drop:
        - ALL
  image:
    repository: "ictu/quality-time_database"
  resources:
    limits:
      cpu: "2"
      memory: "2Gi"
    requests:
      cpu: "1"
      memory: "1Gi"

frontend:
  image:
    repository: "ictu/quality-time_frontend"

notifier:
  image:
    repository: "ictu/quality-time_notifier"

renderer:
  image:
    repository: "ictu/quality-time_renderer"
  env:
    LC_ALL: "en_GB.UTF-8"
    TZ: "Europe/Amsterdam"

www:
  # -- When www.directlyToService is true the quality-time_proxy is not used and ingress is point directly to the backend api and frontend.
  directlyToService: false
  image:
    repository: "ictu/quality-time_proxy"
  ingress:
    enabled: false
    ingressClassName: ""
    hostname: ""
    pathType: "ImplementationSpecific"
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
    annotations: {}
