.tabbutton {
    border: none;
    background: none;
    font: inherit;
    padding: 0px;
}

.tabbutton.inverted {
    color: rgba(255, 255, 255, 0.87);
}

.tabbutton:focus {
    outline: thin dotted;
}