/* The box shadow gets a grey square background in the PDF, remove it when printing. */
@media print {
    div.ui.tag.label::after {
        box-shadow: none !important;
    }
}

.ui.ui.ui.grey.label {
    color: rgba(255, 255, 255, 0.87)
}
