---
name: API-server

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.4
        with:
          version: "0.9.15"
      - name: Install dependencies, run unit tests and check quality
        working-directory: components/api_server
        run: |
          ci/install-dependencies.sh
          ci/unittest.sh
          ci/quality.sh
