---
name: Application tests quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.1
        with:
          version: "0.9.27"
      - name: Install dependencies and check quality
        working-directory: tests/application_tests
        run: |
          ci/install-dependencies.sh
          ci/quality.sh
