---
name: Feature tests quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.0
        with:
          version-file: tools/requirements-uv.txt
      - name: Install dependencies and check quality
        working-directory: tests/feature_tests
        run: uvx --from=$(cat $GITHUB_WORKSPACE/tools/requirements-just.txt) just ci
