---
name: Feature tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Login to DockerHub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.9.18"
      - name: Run feature tests
        run: ./tests/feature_tests/ci/test.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: build-artifacts
          path: build
