---
name: Feature tests quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.9.27"
      - name: Install dependencies and check quality
        working-directory: tests/feature_tests
        run: uvx --from rust-just==1.46.0 just all
