---
name: Feature tests quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.5
        with:
          version: "0.9.15"
      - name: Install dependencies and check quality
        working-directory: tests/feature_tests
        run: |
          ci/install-dependencies.sh
          ci/quality.sh
