---
name: Frontend

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [25.3.0]

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build, and test
        working-directory: components/frontend
        run: |
          ci/install-dependencies.sh
          ci/build.sh
          ci/unittest.sh
          ci/quality.sh
        env:
          CI: true
