---
name: Frontend

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: components/frontend/package.json
      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.0
        with:
          version-file: tools/pyproject.toml
      - name: Install dependencies, run unit tests and check quality
        working-directory: components/frontend
        run: uv tool run --from=rust-just --project $GITHUB_WORKSPACE/tools/pyproject.toml just ci
