---
name: Frontend

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [25.5.0]

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.9.27"
      - name: Install dependencies, run unit tests and check quality
        working-directory: components/frontend
        run: uvx --from rust-just==1.46.0 just all
        env:
          CI: true
