---
name: Hadolint

on: [push]  # yamllint disable-line rule:truthy

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - component: api_server
          - component: collector
          - component: database
          - component: frontend
          - component: notifier
          - component: proxy
          - component: renderer
          - component: testdata

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Hadolint ${{ matrix.component }}
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: components/${{ matrix.component }}/Dockerfile
