---
name: Notifier

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: "0.9.9"
      - name: Install dependencies, run unit tests and check quality
        working-directory: components/notifier
        run: |
          ci/install-dependencies.sh
          ci/unittest.sh
          ci/quality.sh
