name: Notifier

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.0.0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        cd components/notifier
        ci/pip-install.sh
    - name: Test
      run: |
        cd components/notifier
        ci/unittest.sh
    - name: Quality
      run: |
        cd components/notifier
        ci/quality.sh
