---
name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  push_to_registry:
    name: Push Docker images to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push Database to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: components/database
          platforms: linux/amd64,linux/arm64
          tags: ictu/quality-time_database:${{ github.ref_name }}
          push: true
      - name: Push Renderer to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: components/renderer
          platforms: linux/amd64,linux/arm64
          tags: ictu/quality-time_renderer:${{ github.ref_name }}
          push: true
      - name: Push Proxy to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: components/proxy
          platforms: linux/amd64,linux/arm64
          tags: ictu/quality-time_proxy:${{ github.ref_name }}
          push: true
      - name: Push Collector to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: components
          file: components/collector/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ictu/quality-time_collector:${{ github.ref_name }}
          push: true
      - name: Push Notifier to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: components
          file: components/notifier/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ictu/quality-time_notifier:${{ github.ref_name }}
          push: true
      - name: Push API-server to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: components
          file: components/api_server/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ictu/quality-time_api_server:${{ github.ref_name }}
          push: true
      - name: Push Frontend to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          context: components/frontend
          platforms: linux/amd64,linux/arm64
          tags: ictu/quality-time_frontend:${{ github.ref_name }}
          push: true
      - name: Anchore SBOM Action
        uses: anchore/sbom-action@v0.20.2
      - name: Package and push Helm chart to Docker Hub
        run: |
          cd helm
          helm package .
          helm push quality-time-*.tgz oci://registry-1.docker.io/ictu
