name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  push_to_registry:
    name: Push Docker images to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2.3.4
      - name: Push Database to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_database
          tag_with_ref: true
          path: components/database
      - name: Push Renderer to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_renderer
          tag_with_ref: true
          path: components/renderer
      - name: Push Proxy to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_proxy
          tag_with_ref: true
          path: components/proxy
      - name: Push Collector to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_collector
          tag_with_ref: true
          path: components/collector
      - name: Push Notifier to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_notifier
          tag_with_ref: true
          path: components/notifier
      - name: Push Server to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_server
          tag_with_ref: true
          path: components/server
      - name: Push Frontend to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_frontend
          tag_with_ref: true
          path: components/frontend
      - name: Push test LDAP to Docker Hub
        uses: docker/build-push-action@v2.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ictu/quality-time_testldap
          tag_with_ref: true
          path: components/ldap
