---
name: Shared Code

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.9.27"
      - name: Install dependencies, run unit tests and check quality
        working-directory: components/shared_code
        run: |
          ci/install-dependencies.sh
          ci/unittest.sh
          ci/quality.sh
