---
name: Shared Code

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.0
        with:
          version-file: tools/requirements-uv.txt
      - name: Install dependencies, run unit tests and check quality
        working-directory: components/shared_code
        run: uvx --from=$(cat $GITHUB_WORKSPACE/tools/requirements-just.txt) just ci
