name: Shared Python

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up Python
      uses: actions/setup-python@v2.3.2
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        cd components/shared_python
        ci/pip-install.sh
    - name: Test
      run: |
        cd components/shared_python
        ci/unittest.sh
    - name: Quality
      run: |
        cd components/shared_python
        ci/quality.sh
