---
name: SonarCloud

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - name: Login to DockerHub
        if: env.SONAR_TOKEN != null
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: actions/checkout@v6.0.1
        if: env.SONAR_TOKEN != null
        with:
          fetch-depth: 0 # Disabling shallow clone is recommended for improving relevancy of reporting
      - name: Install uv
        if: env.SONAR_TOKEN != null
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.9.18"
      - name: Set up Node
        if: env.SONAR_TOKEN != null
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "25.2.1"
      - name: Collector
        if: env.SONAR_TOKEN != null
        working-directory: components/collector
        run: |
          ci/install-dependencies.sh
          ci/unittest.sh
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          .venv/bin/python -m xmlrunner --output-file build/unittests.xml
      - name: Notifier
        if: env.SONAR_TOKEN != null
        working-directory: components/notifier
        run: |
          ci/install-dependencies.sh
          ci/unittest.sh
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          .venv/bin/python -m xmlrunner --output-file build/unittests.xml
      - name: API-server
        if: env.SONAR_TOKEN != null
        working-directory: components/api_server
        run: |
          ci/install-dependencies.sh
          ci/unittest.sh
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          .venv/bin/python -m xmlrunner --output-file build/unittests.xml
      - name: Shared Code
        if: env.SONAR_TOKEN != null
        working-directory: components/shared_code
        run: |
          ci/install-dependencies.sh
          ci/unittest.sh
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          .venv/bin/python -m xmlrunner --output-file build/unittests.xml
      - name: Frontend
        if: env.SONAR_TOKEN != null
        working-directory: components/frontend
        env:
          CI: true
          NODE_OPTIONS: "--no-webstorage" # https://github.com/vitest-dev/vitest/issues/8757
        run: |
          ci/install-dependencies.sh
          ci/build.sh
          npm test -- --coverage
      - name: Create packages
        if: env.SONAR_TOKEN != null
        run: |
          touch components/__init__.py
          touch components/api_server/__init__.py
          touch components/api_server/src/__init__.py
          touch components/collector/__init__.py
          touch components/collector/src/__init__.py
          touch components/notifier/__init__.py
          touch components/notifier/src/__init__.py
          touch components/shared_code/__init__.py
          touch components/shared_code/src/__init__.py
      - name: Sonarcloud scan
        if: env.SONAR_TOKEN != null
        uses: sonarsource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
