---
name: SonarCloud

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - name: Login to DockerHub
        if: env.SONAR_TOKEN != null
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: actions/checkout@v6.0.2
        if: env.SONAR_TOKEN != null
        with:
          fetch-depth: 0  # Disabling shallow clone is recommended for improving relevancy of reporting
      - name: Install uv
        if: env.SONAR_TOKEN != null
        uses: astral-sh/setup-uv@v7.3.0
        with:
          version-file: tools/pyproject.toml
      - name: Set up Node
        if: env.SONAR_TOKEN != null
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: components/frontend/package.json
      - name: Collector
        if: env.SONAR_TOKEN != null
        working-directory: components/collector
        # yamllint disable rule:line-length
        run: |
          uv tool run --from $(uv export --project ../../tools --only-group just --quiet --no-hashes --no-header) just test
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          uv run --with=unittest-xml-reporting -m xmlrunner --output-file build/unittests.xml
        # yamllint enable rule:line-length
      - name: Notifier
        if: env.SONAR_TOKEN != null
        working-directory: components/notifier
        # yamllint disable rule:line-length
        run: |
          uv tool run --from $(uv export --project ../../tools --only-group just --quiet --no-hashes --no-header) just test
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          uv run --with=unittest-xml-reporting -m xmlrunner --output-file build/unittests.xml
        # yamllint enable rule:line-length
      - name: API-server
        if: env.SONAR_TOKEN != null
        working-directory: components/api_server
        # yamllint disable rule:line-length
        run: |
          uv tool run --from $(uv export --project ../../tools --only-group just --quiet --no-hashes --no-header) just test
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          uv run --with=unittest-xml-reporting -m xmlrunner --output-file build/unittests.xml
        # yamllint enable rule:line-length
      - name: Shared Code
        if: env.SONAR_TOKEN != null
        working-directory: components/shared_code
        # yamllint disable rule:line-length
        run: |
          uv tool run --from $(uv export --project ../../tools --only-group just --quiet --no-hashes --no-header) just test
          export PYTHONPATH=`python -c 'import sys;print(":".join(sys.argv[1:]))' src $PYTHONPATH`
          uv run --with=unittest-xml-reporting -m xmlrunner --output-file build/unittests.xml
        # yamllint enable rule:line-length
      - name: Frontend
        if: env.SONAR_TOKEN != null
        env:
          CI: true
        run: uv tool run --directory components/frontend --from $(uv export --project tools --only-group just --quiet --no-hashes --no-header) just test cov # yamllint disable-line rule:line-length
      - name: Create packages
        if: env.SONAR_TOKEN != null
        run: |
          touch components/__init__.py
          touch components/api_server/__init__.py
          touch components/api_server/src/__init__.py
          touch components/collector/__init__.py
          touch components/collector/src/__init__.py
          touch components/notifier/__init__.py
          touch components/notifier/src/__init__.py
          touch components/shared_code/__init__.py
          touch components/shared_code/src/__init__.py
      - name: Sonarcloud scan
        if: env.SONAR_TOKEN != null
        uses: sonarsource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
