---
name: Tools quality

on: [push]  # yamllint disable-line rule:truthy

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.0
        with:
          version-file: tools/pyproject.toml
      - name: Install dependencies and check quality
        run: uv tool run --directory update_dependencies --from $(uv export --project tools --only-group just --quiet --no-hashes --no-header) just ci # yamllint disable-line rule:line-length
