# These requirements are not hashed, because in --require-hashes mode, all requirements must have their versions
# pinned with ==. These do not: urllib3<1.27,>=1.21.1 (from requests==2.27.1)
requests==2.27.1
selenium==4.1.2
